@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
h1{
    font-size: 80px;
    text-align: center;
}
body{
    color: white;
font-family: Ubuntu;
background: rgb(0,2,36);
background: linear-gradient(90deg, rgba(0,2,36,1) 0%, rgba(9,83,121,1) 0%, rgba(200,222,208,1) 0%, rgba(166,41,249,1) 0%, rgba(141,58,230,1) 26%, rgba(21,6,242,1) 99%);
}
.card{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-family: Padauk;
    background-color: white;
    color: black;
    gap: 3rem;
    max-width: 100%;
    margin: auto;
    margin-top: 10%;
    width: 30rem;
    /* box-shadow: 0px 0px 10px 5px rgb(185, 165, 190); */
    border-radius: 6px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: 3rem;
    padding: 2rem;
    font-size: larger;
}
button{
    outline: none;
    border: none;
    background-color: rgb(197, 87, 67);
    padding: 1rem 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-size: large;
}